.liste1{
    font-family: 'Krona One', sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.page1{
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 30%;
    color: rgb(255, 255, 255);

}