* {
    text-decoration: none;
}

body {
    font-family: 'Krona One', sans-serif;
    display: flex;
    margin: 0;
    background-color: black;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: flex-end;
}
 
section#home {
    width: 100vw;
    height: 100vh;
}

.boite {
    width: 100vw;
    color: rgb(255, 255, 255);
    height: 100vh;
}

#pagedesommaire :hover{
    color: rgba(163, 157, 157, 0);
    transition: all 700ms ease;
}

.boite h1 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    width: 50%;
}

.boite h2 {
    padding: 0%;
    font-size: 1em;
    margin-right: 20%;
}

.boite h3 {
    margin: 0%;
    padding: 0%;
    font-size: 1em;
    margin-top: 10%;
    margin-left: 5%;
    font-family: 'League Spartan', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

section  #sommaire2 {
    margin: 0%;
    padding: 0%;
    font-size: 5em;
    color: rgb(255, 255, 255);
    top: 60px;
    left: 76px;
    position: relative; 
    font-size: 96px;
}

.nav ul{
    top: 200px;
    left: 76px;
    font-size: 50px;
}

.nav ul li a {
    text-decoration: none;
    position: relative;
    left: 100px;
    top: 50px;
    display: flex;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    list-style: none;
}

.nav ul li :hover {
    cursor: pointer;
}

.nav span {
    font-size: 86px;
 }


.nav ul li :hover{
    color: rgba(163, 157, 157, 0);
    transition: all 700ms ease;
}

.liste1{
    font-family: 'Krona One', sans-serif;
    font-size: 50px;
    margin: 50px;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.liste1 :hover {
    cursor: pointer;
}

.liste1:hover{
    color: rgba(163, 157, 157, 0);
    transition: all 700ms ease;
}

.page1{
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    text-align: left;
    margin: 0 auto;
    max-width: 500px;
    position: absolute;
    top: 40%;
    left: 30%;
    color: rgb(255, 255, 255);
}

.page1 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#changeColorButton {
    padding: 10px;
    font-size: 16px;
}
